# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.env

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Docker
*.env
