* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* .home-banner {
    background-color: aquamarine;
    border-bottom: solid;
    margin-bottom: 2rem;
} */
.directions-container {
    padding: 1rem;
}
